.heading {
  display: flex;
  padding: 20px;
}

.heading button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.heading_name,
.heading_population {
  flex: 1;
  padding: 20px;
  color: var(--text-color-secondary);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_name {
  justify-content: flex-start;
}

.row {
  display: flex;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color-light);
}

.name {
  flex: 1;
  text-align: left;
}

.population {
  flex: 1;
}